@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body {
  font-family: 'Droid Serif';
  font-size: medium;
}
.remark-container {
  background: black;
}
.remark-slide-scaler {
  box-shadow: none;
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz'; 
  font-weight: 400;
  margin-bottom: 40px;
}
.small * {
  font-size: small !important;
}
code {
  border-radius: 5px;
}
.inverse {
  background-color: #272822;
  color: white; /* #777872; */
  text-shadow: 0 0 20px #333;
}
.inverse pre {
  text-shadow: none;
}
.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 1em;
}
.inverse a {
  color: #ccc;
  text-decoration: none;
}
.inverse a:hover {
  text-decoration: underline;
}
.inverse strong {
  color: #B3B34B;
}
.inverse .remark-inline-code {
  color: #d6a6a6;
  background: #545446;
  padding: 0 10px;
}
.center pre {
  text-align: left;
}
.center ul {
  padding: 0;
}
.center li {
  list-style-type: none;
}
.footnote {
  position: absolute;
  font-size: small;
  bottom: 3em;
  right: 3em;
}
/* styling only necessary for displaying source */
#source {
  position: absolute;
  display: none;
  font-family: monospace;
  font-size: medium;
  background: #333333;
  color: white;
  padding: 10px;
  text-align: left;
  width: 65%;
  height: 70%;
  z-index: 1000;
}
#overlay {
  position: absolute;
  display: none;
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 999;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 80px;
  margin: 20px 0;
}
.flex-center img {
  margin: 0 20px;
}
.remark-code-line-highlighted {
  background-color: rgba(255, 255, 0, 0.1);
}
.cover {
  width: 110vw;
  height: 110vh;
  position: absolute;
  top: -10vh;
  left: -10vw;
  -webkit-filter: blur(5px) grayscale(0.6);
  z-index: -1;
}
.remark-slide-content.background-cover {
  background-color: transparent;
  color: white;
  text-shadow: 0 0 10px black;
}
@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}

.lambda {
  animation: appear cubic-bezier(0.4, 0, 1, 1) 5s;
  font-size: 50vh;
  color: #e0de17;
}

.dialog {
  display: flex;
  align-items: center;
}
.avatar {
  border-radius: 50%;
  max-height: 8vh;
  box-shadow: 0 0 15px, 0 0 15px;
}
.bubble {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: #fff;
  background: #075698;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background: -moz-linear-gradient(#2e88c4, #075698);
  background: -o-linear-gradient(#2e88c4, #075698);
  background: linear-gradient(#2e88c4, #075698);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 40px;
  background: #075698;
}

.bubble:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50px;
  border-width: 20px 0 0 20px;
  border-style: solid;
  border-color: #075698 transparent;
  display: block;
  width: 0;
  top: 16px;
  left: -40px;
  bottom: auto;
  border-width: 15px 40px 0 0;
  border-color: transparent #075698;
}
